<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/bootstrap-4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>GYM Khaana</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand">GYM Khaana</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Order History</a>
        </li>
      </ul>
    </div>
  </nav>

  <form method="POST">
    <div class="container" id="menu">
      <% for( let i = 0; i < menu.length; i++ ) { %>
      <div class="card m-1" id=<%= `item${i}` %>>
        <div class="d-flex flex-column">
          <div class="p-2"><%= menu[i].id %>
            <% if (menu[i].veg) { %>
            <img class="mb-1" src="/img/veg.png" style="width: 1rem;height: 1rem;">
            <% } else { %>
            <img class="mb-1" src="/img/nveg.png" style="width: 1rem;height: 1rem;">
            <% } %>
          </div>
          <div class="p-0">
            <div class="d-flex flex-row justify-content-between">
              <div class="p-2"><strong>&#8377 <%= menu[i].price %></strong></div>
              <div class="p-2">
                <div class="btn-group" role="group" style="visibility:hidden" id=<%= `addn${i}` %>>
                  <button type="button" class="btn btn-secondary" onclick=<%= `subn(${i},${menu.length},${menu[i].price})` %>>-</button>
                  <input type="number" class="form-control" style="width: 3rem;" name=<%= `quan${i}` %> id=<%= `quan${i}` %>
                    value=0 readonly>
                  <button type="button" class="btn btn-secondary" onclick=<%= `addn(${i},${menu[i].price})` %>>+</button>
                </div>
                <button type="button" class="btn btn-primary px-3" id=<%= `add${i}` %>
                  onclick=<%= `add(${i},${menu[i].price})` %>>Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="d-flex flex-row justify-content-center mt-3">
        <div class="p-3 btn btn-outline-dark" onclick=<%= `addMore(${menu.length})` %> style="visibility: hidden;"
          id="addMore">
          <img src="/img/food.svg" class="p-1" style="width: 1.5rem;height: 1.5rem">
          <a class="p-1">Add More</a>
        </div>
      </div>
      <button type="button" id="checkout" class="btn btn-primary submit-button"
        onclick=<%= `confirmOrder(${menu.length})` %>>Checkout</button>
      <div class="confirm-button p-4" id="confirm">
        <div class="d-flex flex-row justify-content-between pb-2">
          <p class="h6">Total</p>
          <p class="h6" id="totalAmt">&#8377 500</p>
        </div>
        <button type="button" class="btn btn-success" id="confirmButton" style="width: 100%;">Confirm Order</button>
      </div>
    </div>
    <div class="container" id="userDetails" style="display: none;">
      <div class="my-4">
        <input type="text" class="form-control m-1" name="username" id="username" placeholder="Name" required>
        <input type="tel" pattern="[1-9][0-9]{9}" class="form-control m-1" name="userNum" id="userNum"
          placeholder="Mobile Number" required>
      </div>
      <div class="container">
        <div class="form-check p-2">
          <input class="form-check-input" type="radio" name="pType" id="gpay" value="0" required>
          <label class="form-check-label" for="gpay">
            <img src="/img/gpay.svg" style="width: auto;height:2rem">
          </label>
        </div>
        <div class="form-check p-2">
          <input class="form-check-input" type="radio" name="pType" id="paytm" value="1" required>
          <label class="form-check-label" for="paytm">
            <img src="/img/paytm.svg" style="width: auto;height:2rem">
          </label>
        </div>
        <div class="form-check p-2">
          <input class="form-check-input" type="radio" name="pType" id="cash" value="2" required>
          <label class="form-check-label" for="cash">Cash</label>
        </div>
      </div>
      <button type="submit" class="btn btn-success submit-button" id="placeOrder"  style="visibility: visible;">Place Order</button>
    </div>
  </form>

  <script src="/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper-1.12.9.min.js"></script>
  <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
  <script>
    let total = 0
    let totalAmt = 0
    let confirmFlag = false
    function add(id,price) {
      document.getElementById(`quan${id}`).value++
      total++
      totalAmt+=price
      document.getElementById(`add${id}`).style.display = "none"
      document.getElementById(`addn${id}`).style.visibility = "visible"
      if (total >= 1) {
        document.getElementById('checkout').style.visibility = "visible"
      }
      updateTotal()
    }
    function addn(id,price) {
      document.getElementById(`quan${id}`).value++
      total++
      totalAmt+=price
      updateTotal()
    }
    function subn(id, len, price) {
      let quan = document.getElementById(`quan${id}`)
      if (quan.value == 0)
        return
      if (quan.value == 1) {
        quan.value--
        total--
        totalAmt-=price
        if (confirmFlag) {
          document.getElementById(`item${id}`).style.display = "none"
          if (total == 0) {
            addMore(len)
          }
        }
        document.getElementById(`add${id}`).style.display = "inline"
        document.getElementById(`addn${id}`).style.visibility = "hidden"
      }
      else {
        quan.value--
        total--
        totalAmt-=price
      }
      if (total == 0) {
        document.getElementById('checkout').style.visibility = "hidden"
      }
      updateTotal()
    }
    function confirmOrder(len) {
      for (let i = 0; i < len; i++) {
        if ($(`#quan${i}`).val() == 0) {
          document.getElementById(`item${i}`).style.display = "none"
        }
      }
      document.getElementById('checkout').style.visibility = "hidden"
      document.getElementById('confirm').style.visibility = "visible"
      document.getElementById('addMore').style.visibility = "visible"
      updateTotal()
      confirmFlag = true
    }
    function addMore(len) {
      for (let i = 0; i < len; i++) {
        if ($(`#quan${i}`).val() == 0) {
          document.getElementById(`item${i}`).style.display = "block"
        }
      }
      confirmFlag = false
      document.getElementById('checkout').style.visibility = "visible"
      document.getElementById('confirm').style.visibility = "hidden"
      document.getElementById('addMore').style.visibility = "hidden"
    }
    function updateTotal(){
      document.getElementById('totalAmt').innerHTML = `&#8377 ${totalAmt}`
    }

    $('#confirmButton').click(() => {
      $('#menu').hide()
      $('#userDetails').show()
    })
  </script>
</body>

</html>