<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/bootstrap-4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>GYM Khaana</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">GYM Khaana</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/userOrders">Order History</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container mt-5">
      <div class="text-center">
        <% if(orders.length>0) { %> 
          <h6>Customer Name : <%=orders[0].custName%></h6>
          <h6>Customer number : <%=orders[0].custNumber%></h6>
          <h5 class="p-4">Your active token(s)</h5>
          <% for( let i = 0; i < orders.length; i++ ) { %>
            <div class="d-flex justify-content-center">
                <ul class="list-group" style="width: 60vw;">
                  <li 
                  <% if(orders[i].placed==true){ %>
                    class="list-group-item list-group-item-success m-1 text-center" 
                  <% } else{ %> 
                    class="list-group-item list-group-item-danger m-1 text-center" 
                  <% } %>
                  data-toggle="modal" data-target=<%= `#modifyModal${i}` %>>
                    <%= orders[i].token %>
                  </li> 
                  </ul>
            </div> 

                      <div class="modal fade" id=<%= `modifyModal${i}` %> tabindex="-1" role="dialog" aria-labelledby="tokenOrderModalTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
<<<<<<< HEAD
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Order No. <%=orders[i].token%>/h5>
=======
                                <div class="modal-title">Order No: <%= orders[i].token %></h5>
>>>>>>> 6108416ad5900fa10e46484acce1d3122f72c5e2
                                <% if(orders[i].placed==true){ %>
                                  <span class="badge badge-success ml-3 mt-2 p-1">Order Placed</span>
                                <% } else{ %> 
                                  <span class="badge badge-danger ml-3 mt-1 p-1">Payment Pending</span>
                                <% } %> 
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container">
                                    <div class="row mt-3">
                                      <div class="col text-left">
                                        <strong>Item</strong>
                                      </div>
                                      <div class="col text-center">
                                        <strong>Qty</strong>
                                      </div>
                                      <div class="col text-center">
                                        <strong>Rate</strong>
                                      </div>
                                    </div>
                                    <% for( let j = 0; j < orders[i].items.itemId.length; j++ ) { %>
                                    <div class="row">
                                      <div class="col">
                                        <h6><%=orders[i].items.itemId[j]%></h6>
                                      </div>
                                      <div class="col text-center">
                                        <h6><%=orders[i].items.quantity[j]%></h6>
                                      </div>
                                      <div class="col text-center">
                                        <h6>&#8377 <%= orders[i].items.price[j] %></h6>
                                      </div>
                                    </div>
                                    <% } %>
                                    <h6 class="mt-3"><strong>Total : &#8377 <%=orders[i].amt%></strong></h6>
                                  </div>
                                </div>
                            </div>
                          </div>
                      </div>
                </div>
                      <% } %>
        <% } else{ %>
          <div class="text-center">
            <div class="alert alert-warning" role="alert">
              No Active Orders
            </div>  
          </div>
        <% } %> 
      </div>
  </div>

  <script src="/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper-1.12.9.min.js"></script>
  <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
</body>

</html>